@page "/Account/testlogin"
@using LAKAPSAGAP.Models.ViewModels
@using Microsoft.AspNetCore.Identity
@layout EmptyLayout



@using System.ComponentModel.DataAnnotations

<h3>Login</h3>

<EditForm FormName="LoginForm" Model="@loginModel" method="POST" OnValidSubmit="Login">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @* Add the antiforgery token *@
    <input type="hidden" name="@Antiforgery.GetTokens(HttpContext).RequestToken" />
    <div>
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="loginModel.Username" />
        <ValidationMessage For="@(() => loginModel.Username)" />
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText id="password" type="password" @bind-Value="loginModel.Password" />
        <ValidationMessage For="@(() => loginModel.Password)" />
    </div>
    <button type="submit">Login</button>
</EditForm>
<h3>TestLogin</h3>


