:root {
    --rz-text-title-color: #374151 !important;
}
/**{
    outline: red 1px dotted;
}*/
p, h1, h2, h3, h4, h5, h6 {
    color: #374151
}
.rz-text-display-h5{
    font-weight: bold !important;
    margin-bottom: .75rem !important;
}

.form-card {
    border-top: 8px #15803d solid
}
.rz-form-field{
    width:100% !important;
}
.rz-label {
    font-weight: bold;
    font-size: 0.75rem;
    margin-bottom: 0.5rem ;
}
button{}