<div Style="@($"{CombinedStyle} width: 100%; height: 100%")"
             @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string? Style { get; set; }


    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new();

    private string CombinedStyle =>
    string.IsNullOrWhiteSpace(Style) || !Style.Contains("padding")
        ? $"padding: 0.25rem; {Style}"
        : Style;

}
