@page "/Warehouse";

<MacroBody Style="display: flex; justify-content: center; align-items:center; width: 100%; height: fit-content;">
	@if (Loading)
	{
		<LoadingScreen />
	}
	else
	{
		<MacroCard Style="width: 100dvw; max-width: 700px; height: fit-content;">
			<RadzenText class="fw-bold text-danger mb-3" TextStyle="TextStyle.DisplayH5" Text="Add your First Warehouse" />
			<form style="width: 100%;" class="d-grid gap-2">
				<div class="row w-100">
					<div class="col w-full">
						<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
							<span class="fw-bold text-uppercase">Warehouse Name</span>
							<RadzenTextBox Style="width: 100%;" Placeholder="Warehouse XYZ"
										   @bind-Value="model.Name" />
						</div>
					</div>
				</div>
				<div class="row w-100">
					<div class="col w-full">
						<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
							<span class="fw-bold text-uppercase">Location</span>
							<RadzenTextBox Style="width: 100%;" Placeholder="Valenzuela City"
										   @bind-Value="model.Location" />
						</div>
					</div>
				</div>
				<div class="d-flex flex-column flex-wrap align-items-start justify-content-start mt-3 gap-2">

					<div class="d-flex flex-column w-100 align-itemscenter justify-content-end gap-2">
						<span class="fw-bold text-uppercase ">Warehouse Floors</span>
						<div class="d-flex w-100 align-itemscenter justify-content-end gap-2">
							<RadzenTextBox Style="width: 150px;" Placeholder="Floor Name"
										   @bind-Value="floorModel.Name" />
							<RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add" Text="Add Floor" Click="() => AddFloor()" />
						</div>
						<RadzenDataList @ref="floorDL" WrapItems="false" AllowPaging="true" Data="@model.FloorList">
							<Template Context="data">
								<RadzenPanel AllowCollapse="true" Style="width: 700px;">
									<HeaderTemplate>
										<RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-align-items-center rz-m-0">
											<RadzenIcon icon="dns" class="rz-me-1" style="color: var(--rz-success);" /><b>@data.Name</b>
											<RadzenButton Style="margin-left: 0.5rem;" Icon="backspace" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Base" Click="() => RemoveFloor(data)" />
										</RadzenText>
									</HeaderTemplate>
									<ChildContent>
										<div class="d-flex flex-wrap justify-content-start align-items-center mt-4 mx-2 gap-3">
											<div class="d-flex justify-content-center align-items-center">
												<RadzenTextBox Style="width: 125px;" Placeholder="Rack Name"
															   @bind-Value="rackModel.Name" />
												<RadzenButton Style="margin-left: 0.5rem;" Icon="add" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Success" Click="() => AddRack(data.Name, rackModel)" />
											</div>
											@foreach(var rack in data.RackList)
											{
												<RadzenBadge Style="padding: 0.25rem 0.5rem 0.25rem 0.5rem" BadgeStyle="BadgeStyle.Primary">
													<b>@rack.Name</b>
													<RadzenButton Style="margin-left: 0.5rem;" Icon="backspace" Shade="Shade.Light" Variant="Variant.Text" ButtonStyle="ButtonStyle.Base" Click="() => RemoveRack(data.Name, rack)" />
												</RadzenBadge>
											}
										</div>
									</ChildContent>
								</RadzenPanel>
							</Template>
						</RadzenDataList>
					</div>

				</div>

				<div class="d-flex align-items-center justify-content-end mt-3 gap-2">
					<RadzenButton Style="width: fit-content; background: var(--rz-success-light);" Text="Add New Warehouse" ButtonStyle="ButtonStyle.Primary" Click="CreateWarehouse" />
				</div>
			</form>

		</MacroCard>

	}

</MacroBody>
