<div class="w-100 d-flex flex-row gap-2 justify-content-between align-items-end text-success">
	<div class="d-flex justify-items-start align-items-center gap-2 mt-1">
		<label class="rz-color-base-800 fw-bold">Search</label>
		<input type="text" class="px-2 py-1 rz-border-radius-1 m-0 custom-input" style="width: 300px;" Placeholder="Search Stocks ..." />
	</div>
	<div class="d-flex justify-items-start align-items-center gap-2 mt-2">
	</div>
</div>