
.link-active {
    background: var(--rz-danger-dark);
    box-shadow: 0 1px 3px 0 var(--rz-danger);
    cursor: pointer;
    text-decoration: none !important;
    outline: none;
}

.link 
{
    color: var(--rz-base-700);
    cursor: pointer;
    border: 1px solid var(--rz-base-400);
    outline: none;
    text-decoration: none !important;
}

.link:is(:hover) {
    background: var(--rz-base-600);
    border: 1px solid var(--rz-base-200);
    box-shadow: 0 1px 3px 0 var(--rz-base-200);
    color: var(--rz-base-200);
    outline: none;
    text-decoration: none !important;
}

.link a:active
{
    color: var(--rz-base-white);
}